{% extends 'main/layoute.html' %}

{% block title %}
      <title>Первая страница компании КофеЛавка на Django</title>
{% endblock %}

{% block content %}
<h1>Добро пожаловать в {{caption}}!</h1>
<br>
<h3><p>Мы предлагаем современные вендинговые автоматы с вкусным кофе и закусками в удобных местах.</p>
      <p>Наша цель – радовать вас каждый день качественными напитками и перекусами.</p></h3>
<br>
<h4>Почему выбирают нас?</h4>
<p>Качество: Технологии для идеального вкуса каждой чашки.</p>
<p>Разнообразие: Кофе, чай, горячий шоколад, закуски – на любой вкус.</p>
<p>Удобство: Автоматы расположены в офисах, ТЦ и других местах.</p>
<p>Экология: Биоразлагаемые стаканчики и переработка упаковки.</p>
<br>
<h5><p>Наши услуги:</p></h5>
<p>Установка автоматов.</p>
<p>Обслуживание и пополнение.</p>
<p>Индивидуальный подбор ассортимента.</p>
<p>Свяжитесь с нами: Телефон: +7 (123) 456-78-90</p>
<p>Email: info@coffeelavka.ru</p>

<h4>{{caption}} – ваш персональный бариста рядом!</h4>


{% endblock %}

